Repository OriOri-CCP7/oriori, pull requests merged in 2023-07, with the labels that each got.

#174 Issue templates and Contributing Guidelines Update
  .github/issue_template/bug-report.yml
  .github/issue_template/config.yml
  .github/issue_template/suggestion.yml
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Labels: bug report, documentation

#190 180 bkmarkbutton tests
  client/fileTransformer.js
  client/jest.config.js
  client/package-lock.json
  client/package.json
  client/src/__mocks__/fileMock.js
  client/src/components/BkmarkButton.tsx
  client/src/components/__tests__/BkmarkButton.test.tsx
  client/tsconfig.json
Labels: tests

#191 Add new URL to README.md
  README.md
Labels: documentation

#192 188 - ShareButton unit tests
  client/src/components/ShareButton.tsx
  client/src/components/__tests__/ShareButton.test.tsx
Labels: tests

#194 Edit depreciated endpoints
  api/urls.py
  api/views.py
  base/admin.py
  base/migrations/0012_delete_store.py
  base/models.py
  base/serializers.py
Labels: bug report

#195 193 bug allowed hosts set to
  .env.example
  README.md
  config/settings.py
  docker-compose.yml
Labels: bug report, high priority

#198 Admin Deletion GUI
  api/urls.py
  api/views.py
  client/src/App.tsx
  client/src/components/TrashButton.tsx
  client/src/pages/AdminDeleteProduct.tsx
  client/src/styles/AdminDeleteProduct.css
  client/src/styles/TrashButton.css
Labels: enhancement

#199 Write tests for LogButton
  client/src/components/LogButton.tsx
  client/src/components/__tests__/LogButton.test.tsx
Labels: tests

#200 Write tests for LikeButton
  client/src/components/LikeButton.tsx
  client/src/components/__tests__/LikeButton.test.tsx
Labels: tests

#202 Write tests for header
  client/src/components/__tests__/Header.test.tsx
Labels: tests

#203 Write tests for Button
  client/src/components/__tests__/Button.test.tsx
Labels: tests
